@import '@/shared/styles/_vars';

.title {
    border-radius: 16px;
    position: relative;
    z-index: 1;
    background-color: $blue;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
.text {
    font-size: $title-big;
    color: $blue;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
.bg {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 0;
    background-color: #fff;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

@media (max-width: $mobile) {
    .text {
        font-size: $title-small;
    }
}