@import '@/shared/styles/_vars';

.labsPage {
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: flex-start;
    align-items: center;
    @include container;
    padding-top: 50px;
}

.title {
    color: $blue;
    font-size: 82px;
    text-transform: uppercase;
}

.variables {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
}

.variable {
    width: 100%;
    max-width: 100%;
}

.img {
    width: 100%;  
}