@import '@/shared/styles/_vars';

.labsPage {
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
    @include container;
}

.title {
    color: $blue;
    font-size: 82px;
    text-transform: uppercase;
}

.variables {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.variable {
    
}

.img {
    
}