@import '@/shared/styles/_vars';

.predResult {
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $yellow;
    gap: 100px;
}