@import '@/shared/styles/_vars';

.link {
    padding: 30px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    background-color: $blue;
    text-decoration: none;

    p {
        color: $blue;
        font-size: $button-size;
        position: relative;
        z-index: 2;
    }
    
    &::before {
        content: '';
        background-color: #fff;
        position: absolute;
        bottom: 8px;
        left: 8px;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}