$blue: #0025EF;
$yellow: #F7E921;
$pink: #FF66C4;
$red: #FF001C;
$beige: #F1EA42;
$green: #0F9D58;
$light-blue: #4285F4;
$light-red: #DB4437;

$title-big: 3.75rem;
$title-small: 1.875rem;
$title-mini: 1.25rem;
$button-big: 1.75rem;
$button-small: 1.25rem;
$button-mini: 1rem;
$text-big: 2.25rem;
$text-small: 1.625rem;
$text-mini: 1.25rem;

$mobile: 700px;
$small: 380px;

@mixin container() {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    min-height: 100vh;
}
