@import '@/shared/styles/_vars';

.dnaPage {
    @include container();
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.content {
    margin-top: 20px;
    background-color: $yellow;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.results {
    text-align: center;
}

.title {
    font-size: $text-big;
    color: $blue;
    margin-bottom: 20px;
}

.text1 {
    font-size: $button-big;
    color: $light-red;
}
.text2 {
    font-size: $button-big;
    color: $light-blue;
}
.text3 {
    font-size: $button-big;
    color: $green;
}

.screenshot {
    color: #fff;
    text-align: center;
    max-width: 200px;
    margin: 20px auto 0;
}