@import '@/shared/styles/_vars';

.sliderPage {
    @include container();
    background-color: $yellow;
    padding: 0 0 50px;
}
.bg {
    width: 100%;
}
.content {
    margin-top: 20px;
    position: relative;
}
.title {
    font-size: $title-big;
    text-align: center;
}
.description {
    font-size: $text-big;
    text-align: center;
}
.slider {
    margin-top: 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.items {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    height: auto;
    -ms-scroll-snap-points-x: repeat(100%);
    scroll-snap-points-x: repeat(100%);
    scroll-behavior: smooth;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-x: repeat(100%);

    &.overflow {
        overflow-x: hidden;
    }
}
.sliderItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 66.666%;
    gap: 30px;
    transition: .2s ease;
    max-height: 200px;
    padding-bottom: 10px;
    
    &.active {
        max-height: 100vh;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px;
        min-height: 100vh;
        overflow-y: scroll;
        width: 100%;
        z-index: 3;
        background-color: $yellow;
        .contentText {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }
}
.img {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -o-object-fit: cover;
    object-fit: cover;
}

.contentText {
    overflow-y: scroll;
    padding-bottom: 100px;
    transition: .2s ease-in-out;
    display: none;
    visibility: hidden;
    opacity: 0;
}
.text {
    font-size: $text-big;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.button {
    width: 40px;
    height: 40px;
    background-color: #fff;
}
.indicators {
    display: flex;
    gap: 30px;
}
.indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $blue;
}

@media (max-width: $mobile) {
    .title {
        font-size: $title-small;
    }
    .description {
        font-size: $text-small;
    }
    .text {
        font-size: $text-small;
    }
}